n8n/01-github-issue-slack.json
{
  "name": "GitHub Issue -> Slack 알림",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-issue-webhook",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "opened",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "filter-action",
      "name": "Filter: Issue Opened",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.slackWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"[GitHub Issue] #{{ $json.issue.number }} {{ $json.issue.title }}\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*새 이슈가 생성되었습니다*\\n<{{ $json.issue.html_url }}|#{{ $json.issue.number }} {{ $json.issue.title }}>\\n\\n{{ $json.issue.body ? $json.issue.body.substring(0, 200) : '내용 없음' }}\"\n      }\n    }\n  ]\n}"
      },
      "id": "slack-notify",
      "name": "Slack: Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter: Issue Opened",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Issue Opened": {
      "main": [
        [
          {
            "node": "Slack: Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "EDU-100"
    },
    {
      "name": "Week2"
    }
  ]
}
