02.AP-Framework-V0.42/n8n/05-slack-pm-agent.json
{
  "name": "05. Slack PM 어시스턴트",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-pm-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d1a1b1c1-0001-4000-a000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "notesInFlow": true,
      "notes": "Slack 슬래시 명령 수신\nPOST /webhook/slack-pm-agent"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "처리 중입니다... 잠시만 기다려주세요.",
        "options": {}
      },
      "id": "d1a1b1c1-0002-4000-a000-000000000002",
      "name": "즉시 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 120],
      "notesInFlow": true,
      "notes": "Slack 3초 타임아웃 방지\n즉시 '처리 중' 메시지 반환"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "chatInput",
              "value": "={{ $json.body.text }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "response_url",
              "value": "={{ $json.body.response_url }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "user_name",
              "value": "={{ $json.body.user_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d1a1b1c1-0003-4000-a000-000000000003",
      "name": "데이터 추출",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300],
      "notesInFlow": true,
      "notes": "Slack 페이로드에서\nchatInput, response_url, user_name 추출"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=당신은 프로젝트 PM 어시스턴트입니다.\nSlack에서 받은 자연어 질문에 GitHub 도구를 사용하여 한국어로 답변합니다.\n\n[규칙]\n1. 절대 되묻지 마라. 즉시 도구를 호출하고 결과만 답변하라.\n2. 도구 호출 과정을 설명하지 마라. 결과 데이터만 보여줘라.\n3. 조건이 불명확하면 open_issues를 기본으로 호출하라.\n\n[도구 선택]\n- 이슈/오픈/진행중/할일 -> open_issues\n- 완료/닫힌/해결/처리된 -> closed_issues\n- 마일스톤/진행률/완료율 -> milestones\n- 전체현황/보고서/리포트 -> open_issues + closed_issues + milestones 모두 호출\n- 특정 라벨(W1~W5, document, code, infra) 언급 시 -> 도구 결과에서 해당 라벨만 필터링\n\n[오늘 날짜]\n{{ $now.toFormat('yyyy-MM-dd') }}\n\n[프로젝트 정보]\n- 저장소: {owner}/{repo}\n- 5주 프로젝트: W1 환경구축 -> W2 관리착수 -> W3 기획설계 -> W4 구현개발 -> W5 검수배포\n- 마일스톤: M1(환경구축), M2(관리착수), M3(기획설계), M4(구현개발), M5(검수배포)\n- 라벨: W1~W5(주차별), document/code/infra(유형별)\n\n[답변 형식]\n- 한국어, 간결하게, 결과만\n- 이슈 목록: * #번호 제목\n- 마일스톤: 이름 + 완료율(%)\n- Slack mrkdwn 사용: *볼드* _이탤릭_ `코드`\n- 보고서 요청 시: 통계 요약 -> 이슈 목록 -> 다음 할 일"
        }
      },
      "id": "d1a1b1c1-0004-4000-a000-000000000004",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [700, 300],
      "notesInFlow": true,
      "notes": "자연어 -> 도구 선택 -> 결과 정리"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "d1a1b1c1-0005-4000-a000-000000000005",
      "name": "Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [560, 540],
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.user_name }}",
        "contextWindowLength": 5
      },
      "id": "d1a1b1c1-0006-4000-a000-000000000006",
      "name": "대화 메모리",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [700, 540]
    },
    {
      "parameters": {
        "toolDescription": "현재 열려있는(open) GitHub 이슈 목록을 가져옵니다. 오픈 이슈, 진행중 이슈, 현재 이슈, 할 일을 조회할 때 사용합니다.",
        "method": "GET",
        "url": "https://api.github.com/repos/{owner}/{repo}/issues?state=open&per_page=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "optimizeResponse": true,
        "maxLength": 12000
      },
      "id": "d1a1b1c1-0007-4000-a000-000000000007",
      "name": "Tool: Open Issues",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [840, 540],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "GitHub PAT (Header Auth)"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "완료된(closed) GitHub 이슈 목록을 가져옵니다. 닫힌 이슈, 완료된 이슈, 해결된 이슈, 처리된 이슈를 조회할 때 사용합니다.",
        "method": "GET",
        "url": "https://api.github.com/repos/{owner}/{repo}/issues?state=closed&per_page=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "optimizeResponse": true,
        "maxLength": 12000
      },
      "id": "d1a1b1c1-0008-4000-a000-000000000008",
      "name": "Tool: Closed Issues",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [980, 540],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "GitHub PAT (Header Auth)"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "프로젝트 마일스톤(M1~M5) 현황을 가져옵니다. 각 마일스톤의 이름, 마감일, 열린이슈수, 닫힌이슈수를 반환합니다. 진행률이나 완료율을 확인할 때 사용합니다.",
        "method": "GET",
        "url": "https://api.github.com/repos/{owner}/{repo}/milestones?state=all&per_page=10",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "optimizeResponse": true,
        "maxLength": 4000
      },
      "id": "d1a1b1c1-0009-4000-a000-000000000009",
      "name": "Tool: Milestones",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1120, 540],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "GitHub PAT (Header Auth)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('데이터 추출').item.json.response_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"response_type\": \"in_channel\",\n  \"text\": {{ JSON.stringify(\"*Q.* \" + $('데이터 추출').item.json.chatInput + \"\\n\\n\" + $json.output) }}\n}",
        "options": {}
      },
      "id": "d1a1b1c1-0010-4000-a000-000000000010",
      "name": "Slack 응답",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300],
      "notesInFlow": true,
      "notes": "AI 결과를 Slack response_url로 전송"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "데이터 추출",
            "type": "main",
            "index": 0
          },
          {
            "node": "즉시 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "데이터 추출": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Slack 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "대화 메모리": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Open Issues": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Closed Issues": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Milestones": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "AP-Framework"
    },
    {
      "name": "AI-Agent"
    },
    {
      "name": "Slack"
    }
  ]
}
